{% block element_narrative %}
    {%  set config = element.fieldConfig.elements %}
    <div class="cms-element-{{ element.type }}" style="height: 100%; width: 100%">
        <p>Boxalino API Response Content</p>
    </div>
{% endblock %}
