{#
@BoxalinoIntelligenceIntegration/storefront/narrative/component/product/listing.html.twig

the product-listing-row segment of the original Shopware6 theme file
(@Storefront/storefront/component/product/listing.html.twig)

block.model.getItem(id) : uses the block model (ex: Boxalino\IntelligenceFramework\Service\Api\Content\CollectionDataProvider)
to set a product entity from the collection of products (as returned by the Boxalino response)
the child block (of type product) is being rendered with minimum changes

optional: use the JSON SCHEMA of the product layout block to set other params (layout, displayMode, etc)
#}
{% block element_product_listing_row %}
    <div class="row cms-listing-row js-listing-wrapper">
        {% block element_product_listing_col %}
            {% for bxblock in block.blocks %}
                {% set narrativeContent = {
                    'block' : bxblock,
                    'layout': bxblock.layout[0],
                    'displayMode': bxblock.displayMode[0],
                    'product':block.model.getItem(bxblock.hit.id),
                    'listingColumns' : listingColumns
                } %}
                {% sw_include bxblock.template with narrativeContent %}
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}

