{% block page_search_headline %}
    <h1 class="search-headline">
        {% block page_search_headline_text %}
            {{ block.title[0] | sw_sanitize }}
        {% endblock %}
    </h1>
{% endblock %}
