<li class="search-suggest-product js-result">
    <a href="{{ seoUrl('frontend.search.page', {'search': bxblock.suggestion.suggestion}) }}"
       title="{{ bxblock.suggestion.suggestion }}"
       class="search-suggestion-link">
        <p>{{ bxblock.suggestion.highlighted }}</p>
    </a>
    {% for block in bxblock.blocks %}
        {% set narrativeContent = {'bxblock' : block } %}
        {% sw_include block.template with narrativeContent %}
    {% endfor %}
</li>
