{% block sw_cms_block_narrative_preview %}
    <div class="sw-cms-preview-narrative">
        <p>Boxalino Narrative</p>
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
    </div>
{% endblock %}
