<li class="search-suggest-product js-result">
    <a href="{{ seoUrl('frontend.search.page', {'search': block.suggestion.suggestion}) }}"
       title="{{ block.suggestion.suggestion }}"
       class="search-suggestion-link">
        <p>{{ block.suggestion.highlighted }}</p>
    </a>
    {% for bxblock in block.blocks %}
        {% set narrativeContent = {'block' : bxblock } %}
        {% sw_include bxblock.template with narrativeContent %}
    {% endfor %}
</li>
